{% extends './common/base.html' %}

{% load static %}
{% block content %}
<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar"></div>
            <div class="about-me">
                <p>Hello! I am <strong>Ananya Giliyal</strong>. I work as interface and front end developer. I have
                    passion for pixel perfect, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary"
                    role="button" href="#">Hire me</a>
            </div>
        </div>
    </section>
    <section class="portfolio-block skills"
        style="background: linear-gradient(black, rgb(76,76,76) 30%, white), var(--bs-dark);">
        <div class="container">
            <div class="heading" style="color: var(--bs-white);">
                <h2>Special Skills</h2>
            </div>
            <div class="row">
                {% if special %}
                {% for i in special %}
                <div class="col-md-4">
                    <div class="card special-skill-item border-0">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{i.name}}</h3>
                            <p class="card-text">{{i.description}}</p>
                            <span>Created At: {{i.created_at}}</span>
                            <span>Updated At: {{i.updated_at}}</span>

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1 style="text-align: center; color: aliceblue">No Special Skills</h1>
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}